<view title="'Cityquest - stats'">

    <content has-header="true" has-subheader="false">

        <div class="row" ng-show="debug">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        {{progress}}
                        {{progress.timelap}}
                        {{quest}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <h2>{{ 'complete-stats' | translate }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="stat-value">{{progress.totalTimeHr.h}}:{{progress.totalTimeHr.m}}:{{progress.totalTimeHr.s}}</div>
                        <p class="stat-legend">{{ 'complete-stats-legend-time' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="stat-value">{{progress.totalItemsFound}}/{{quest.details.items.length}}</div>
                        <p class="stat-legend">{{ 'complete-stats-legend-total-items' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="stat-value">{{progress.hintsUsed}}</div>
                        <p class="stat-legend">{{ 'complete-stats-legend-hints-used' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>


        <hr>

        <div class="row" ng-show="debug">
            <div class="col">
                <div class="card">
                    {{progress}}
                </div>
                <div class="card">
                    {{progress.inventory}}
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="it in progress.inventory">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <h2>{{it.title}}</h2>
                    </div>

                </div>

                <div class="stat-item">
                    <img img-cache ic-src="{{it.remote_image}}">
                    <p ng-bind-html='it.description | limitTo: 200' ng-hide="it.full"></p><span ng-hide="it.full">...</span>
                    <p ng-bind-html='it.description' ng-show="it.full"></p>
                    <p>
                    <button class="button button-small button-assertive" ng-hide="it.full" ng-click="it.full = true">
                        MORE
                    </button>
                    <button class="button button-small button-assertive" ng-show="it.full" ng-click="it.full = false">
                        LESS
                    </button>
                    </p>
                </div>
            </div>
        </div>

        <!--<button ng-click="debug = !debug">
            debug
        </button>-->

    </content>
</view>