<view title="'Cityquest - map'">
    <content has-header="true" has-subheader="false">
        <div ng-show="online">
            <map center="[50.838498, 4.376158]" zoom="8">
                <directions
                        draggable="true"
                        travel-mode="WALKING"
                        origin="[{{start.lat}}, {{start.long}}]"
                        destination="[{{end.lat}}, {{end.long}}]"
                        panel="directions-panel"
                        ></directions>
            </map>
            <div id="directions-panel">

            </div>
        </div>
        <div ng-hide="online">
            <img ng-src="{{cached_map}}" alt="Overview map" style="width:100%" />
        </div>

        <div class="card">
            <div class="item item-text-wrap">

                <p>{{ 'map-way-back' | translate }}
                </p>
            </div>
        </div>


    </content>
</view>