<view title="'Cityquest'">

    <content has-header="true" has-subheader="false">
        <div class="row no-padding no-margin">
            <div class="col no-padding no-margin">
                <img id="cq-header" ng-src="http://cityquest.be/{{quest.details.imageFile}}"/>
            </div>
        </div>
        <div class="row tracker-row">
            <div class="col">
                <ol class="majortrckr" data-majortrckr-steps="{{quest.details.items.length}}">

                    <li class="majortrckr-done" ng-repeat="item in quest.details.items"></li>
                </ol>
                <div class="card completed-card">
                    <div class="item item-text-wrap">
                        <span class="cq-notification">{{ 'complete-cq-notification-complete' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="debug">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        {{progress}}
                        {{progress.timelap}}
                        {{quest}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <h2>{{ 'complete-stats' | translate }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="stat-value">{{progress.totalTimeHr.h}}:{{progress.totalTimeHr.m}}:{{progress.totalTimeHr.s}}</div>
                        <p class="stat-legend">{{ 'complete-stats-legend-time' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="stat-value">{{progress.totalItemsFound}}/{{quest.details.items.length}}</div>
                        <p class="stat-legend">{{ 'complete-stats-legend-total-items' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="stat-value">{{progress.hintsUsed}}</div>
                        <p class="stat-legend">{{ 'complete-stats-legend-hints-used' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row end-row">
            <div class="col">
                <a class="button button-full button-assertive" href="#/map">
                    {{ 'complete-button-back' | translate }}
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>


    </content>


</view>

