<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>CityQuest App</title>

    <!-- ionic css -->
    <link href="lib/css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- angularjs scripts -->
    <script src="lib/js/ionic.js"></script>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular/angular-animate.js"></script>
    <script src="lib/js/angular/angular-sanitize.js"></script>
    <script src="lib/js/angular-ui/angular-ui-router.js"></script>
    <script src="lib/js/ionic-angular.js"></script>
    
    <!-- angular-translate -->
    <script src="lib/js/angular-translate.js"></script>
	<script src="/js/angular-translate.min.js"></script>
	<script src="/js/angular-translate-loader-url.min.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
  </head>


  <!-- 
    'directory' is the name of this angular module (js/app.js) => changed to cityquest
  -->
  <body ng-app="cityquest" animation="slide-left-right-ios7">

    <!-- 
      The nav bar that will be updated as we navigate between views
      Additional attributes set its look, nav-bar animation and icons
      Icons provided by Ionicons: http://ionicons.com/ 
    -->
    <nav-bar type="bar-light"
             animation="nav-title-slide-ios7" 
             back-button-type="button-icon"
             back-button-icon="ion-ios7-arrow-back"></nav-bar>
    <!-- 
      The views will be rendered in the <nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <nav-view></nav-view>



    <div class="bar bar-footer" ng-show="progress">
            <div class="tabs tabs-icon-top">
                    <div ng-init="menu = false" ng-click="menu = !menu" ng-hide="menu">
                        <a class="tab-item active">
                            <i class="icon ion-drag"></i>
                        </a>
                    </div>

                    <!--
                    <a class="tab-item active" href="#/cityquest" ng-click="hallo()" ng-show="menu">
                        <i class="icon ion-home"></i>
                    </a>
                    -->

                    <a class="tab-item {{menuHomeActive}}" href="#/cityquest" ng-show="menu">
                        <i class="icon ion-home"></i>
                    </a>

                    <a class="tab-item {{menuStatsActive}}" href="#/stats" ng-show="menu">
                        <i class="icon ion-ios7-box-outline"></i>
                    </a>

                    <a class="tab-item {{menuMapActive}}" href="#/map" ng-show="menu">
                        <i class="icon ion-map"></i>
                    </a>

                    <a class="tab-item {{menuSettingsActive}}" href="#/settings" ng-show="menu">
                        <i class="icon ion-settings"></i>
                    </a>

                    <a class="tab-item close"  ng-show="menu" ng-click="menu = !menu">
                        <i class="icon ion-drag"></i>
                    </a>
                </div>
        </div>


    <script id="modal.html" type="text/ng-template">
        <div class="modal">
            <header class="bar bar-header bar-assertive">
                <h1 class="title">{{modalTitle}}</h1>
                <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
            </header>
            <content has-header="true" padding="true">
                <img class="image-modal" src="{{progress.baseUrl}}{{modalImage}}">

                <div class="row">
                    <div class="col">
                        <div class="stat-item">
                            <!--<p>Go here and travel to close or faraway places. Don't worry about the rain: the small glass cabins provide shelter (and you can leave your bike)</p>-->
                            <p ng-bind-html='modalDescription'></p>

                            <!--<p>{{modalDescription}}</p>-->
                            <!--<button class="button button-small button-assertive" ng-click="enlargeImage(hint.image, hint.title)">More</button>-->
                            <div class="card" ng-repeat="hint in modalHints">
                                <img src="{{hint.image}}">
                            </div>
                        </div>
                    </div>

            </content>
        </div>
    </script>

    </body>

</html>
