<view title="'Cityquest'">

    <content has-header="true" has-subheader="false">
        <div class="row no-padding no-margin">
            <div class="col no-padding no-margin">
                <img id="cq-header" src="{{progress.baseUrl}}{{quest.details.imageFile}}"/>
            </div>
        </div>

        <div class="row">
            <div class="col">


                <div class="card">
                    <div class="item item-text-wrap">

                        <h2>{{quest.details.name}}</h2>

                        <!--<p>{{quest.details.abstract}}
                        </p>-->
                        <p ng-bind-html='quest.details.abstract'></p>

                    </div>
                </div>




                <div class="card">
                    <div class="item item-text-wrap">
                        <h2>HOW DOES IT WORK?</h2>



                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="item item-text-wrap item-help">
                            <div class="icon-help-box"><i class="icon ion-ios7-location-outline"></i></div>
                            <p>Find the location by following the instructions and hints.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="item item-text-wrap item-help">
                                <div class="icon-help-box"><i class="icon ion-ios7-information-outline"></i></div>
                                <p>The QR provides some information about the location</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="item item-text-wrap item-help">
                                <div class="icon-help-box"><i class="icon ion-search"></i></div>
                                <p>Found the location? Search for a QR and scan it!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="item item-text-wrap item-help">
                                <div class="icon-help-box"><i class="icon ion-clock"></i></div>
                                <p>The quest is against the clock. Be efficient and finish in time!</p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>

        <div class="row end-row">
            <div class="col">
                <a class="button button-full button-assertive" href="#/items/0">
                    Ready? Find the first item
                </a>
            </div>
        </div>
        <div>
            <br/>

            <!-- empty div otherwise margin at bottom is not set correctly -->
        </div>

    </content>


</view>

